<!-- Quiz Content -->
<div id="quiz-container" class="hidden mt-[54px] flex justify-center">
    <div id="quiz-wrapper" class="w-full max-w-9xl flex flex-col items-center max-w-3xl mx-auto px-4">

        <!-- Active Preferences UI -->
        <div id="active-preferences"
            class="hidden flex flex-wrap justify-center gap-2 mb-2">
        </div>
        
        <div class="flex justify-center mb-4 gap-4">
            <button id="mode-de-en" class="px-4 py-2 bg-yellow-300 rounded font-bold">
                German → English
            </button>
            <button id="mode-en-de" class="px-4 py-2 bg-black/40 text-white rounded font-bold">
                English → German
            </button>
        </div>

        <!-- Timer -->
        <div id="live-timer"
             class="bg-black/50 p-3 rounded-xl shadow text-center text-yellow-300 text-xl mb-4 font-bold w-full">
             Time: 0m 0.0s
        </div>

        <!-- Progress Bar -->
        <div id="progress-container" class="w-full bg-black/30 rounded-full h-3 mb-4">
            <div id="progress-bar" class="h-3 bg-yellow-400 rounded-full" style="width: 0%;"></div>
        </div>

        <!-- Quiz content -->
        <div id="quiz-content" class="w-full"></div>

        <!-- Back Button -->
        <button id="quiz-back-button"
            class="w-full mb-4 bg-black/40 text-white px-4 py-2 rounded-lg hover:bg-black/60 transition font-bold">
            Go Back
        </button>
    </div>
</div>