{% extends "layout.html" %}
{% block content %}
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <div class="mb-4">
      {% for msg in messages %}
        <div class="bg-red-600 text-white p-3 rounded my-2 font-semibold text-center">
          {{ msg }}
        </div>
      {% endfor %}
    </div>
  {% endif %}
{% endwith %}

<div class="max-w-md mx-auto bg-black/50 p-6 rounded-xl text-white text-center">
    <h2 class="text-3xl font-bold mb-4">Register</h2>

    <form method="POST">
        <input name="username" class="w-full p-3 rounded mb-4 text-black"
            placeholder="Username" required>

        <input name="password" type="password" class="w-full p-3 rounded mb-4 text-black"
            placeholder="Password" required>

        <input name="confirm_password" type="password" class="w-full p-3 rounded mb-4 text-black"
            placeholder="Confirm Password" required>

        <button class="bg-yellow-400 text-black px-4 py-2 rounded font-bold w-full">
            Create Account
        </button>
    </form>
</div>

{% endblock %}
